.body{
    width: 100%;
    background-color: #f2f2f2;
    height: 100vh;
    position: absolute;
}

.fields{
    margin: 3% 5% 5% 5%;
    width: 80%;
}

.form{
    width:40%;
    background-color: #fff;
    margin: 10% 5% 5% 25%;
}

.title{
    text-align: center;
    margin: 3% 1% 1% 1%;
}

.already{
    text-align: right;
    margin: 5% 15% 2% 0%;
}
