.container{
    width: 100%;
}

.title_div{
    background-color:cadetblue;
    margin: 1% 0% 2% 0%;
    width: 100%;
}
.title{
    text-align: center;
    margin: 0.3%;

}
.download{
    display: flex;
}
.appleicon{
    width: 50%;
    display: flex;
}
.img{
    width: 100%;
    height: 100%;
}
.name{
    margin: -35% 1% 2% 1% ;
    text-align: center;
    font-size: 2.5em;
    color: black;
}
