.body{
    background-color: rgba(128,128,128, 0.1);
    margin-top: -2% ;
    width: 100vw;
}
.nameContent{
    display: flex;
}
.link{
    color: black;
    text-decoration: none;
}
.summaryContainer{
    margin: 10% 0% 2% 5%;
    background-color: white;
    height: 40%;
}

.empty{
    width: 100%;
    height: 80vh;
    margin: 15% 20% 5% 20%;
}

.cartIcon{
    border-radius: 50%;
    width: 15%;
    background-color: grey;
    height: 15%;
    margin: 5% 5% 1% 20%;
}
.icon{
    margin: 4% 2% 1% 30%;
    width: 100px;
    
    height: 100px;
}

.img{
    width: 50px;
    height: 50px;
}

.itemContainer{
    margin: 1% 1% 0% 2%;
    height: 80vh;
}

@media (min-width:801px) {
        .tile{
        padding: 1%;
    }
    .item{
        margin: 1% 0% 3% 0%;
        padding: 1% 0% 1% 0%;
    }
    .container{
        margin-top: 5%;
    }
    .nameDiv{
        margin: 1%;
        width: 100%;
    }
    .nameDiv p{
        margin: 3% 1% 1% 2%;
    }
    .summary{
        display: flex;
        width: 100%;
        margin: 2%;
    }
    .summary h4{
        font-size: 1.2em;
    }
    
    
    .emptyhead{
        margin: 1% 5% 0% 18%;
    
    }
    .emptyTxt{
        margin: 1% 5% 1% 18%;
    }
    .btn{
        width: 30%;
        margin: 1% 10% 4% 15%;
    }
    .title{
        font-size: 0.8em;
    }
    .subTotal{
        display: flex;
        margin: 10% 1% 2% 1%;
        width: 100%;
    }
    .subPrice{
        margin: 1% 1% 1% 45%;
    }
    .dummi{
        
        padding-top: 5%;
    }
    .product{
        background-color: white;
        margin: 10% 1% 10% 1%;
        height: 80%;
    }
    
    .deliveryHnt{
        font-size:0.8em ;
        margin: 1% 0% 1% 3%;
    }
    .deliverytxt{
        font-size: 0.8em;
        width: 80%;
        margin: 1% 5% 1% 1%;
    
    }
    .delivery{
        display: flex;
        width: 100%;
        margin: 3% 1% 3% 1%;
    }
    .totalPrice{
        margin: 2% 5% 2% 25%;
    }
    .totalDiv{
        width: 100%;
        display: flex;
    }
    .total{
        width: 60%;
        margin: 2%;
    }
    
    .confirm{
        margin: 5% 2% 2% 2%;
        width: 100%;
    }
    
}

@media (max-width:800px) {
    .product{
        background-color: white;
        margin: 10% 1% 10% 1%;
        height: 80%;
    }
    .dummi{
        
        padding-top: 45%;
    }
    .tile{
        display: flex;
        width: 100%;
    }
    .title{
        font-size: 0.5em;
    }
    .items{
        font-size: 0.6em;
    }
    .qtyIcon{
        font-size: 0.8em;
    }
    .text{
        font-size: 0.6em;
    }
}