.dummy{
    margin: 12%;
}

.container{
    padding-top: 2%;
    height: 100%;
}
.body{
    
    background-color: grey;

}
.formDiv{
    background-color: white;
    height: 100%;
    margin: 5% 5% 20% 5%;
}
.form{
    margin: 5%;
    width: 80%;
}
.title{
    margin: 10% 5% 3% 5%;
}
.row{
    margin:2% ;
}

.btn{
    width: 100%;
}
.phoneDiv{
    display: flex;
    width: 100%;
    margin: 0% 2% 2% 2%;
}
.number{
    width: 80%;
    margin: 1% 2% 1% 1%;

}