.formcontent{
    margin: 5%;
    width: 100%;
}

.title{
    margin: 5% 3% 2% 3% ;
}
.body{
    margin: 20% 2% 5% -40%;
    width:1200px;
    height:600px;
}
.addDiv{
    display: flex;
    margin: 3% 1% 2% 1%;
}
.address{
    margin: 0% 1% ;
    width:45%
}

.hour{
    display: flex;
}