.dummie{
    margin: 10%;
}
.sidebar{
    border: 1px solid gray;
    padding: 3% 0% 8% 0%;
}
.field{
    width: 80%;
    margin: 3% 5% 1% 10%;
}
.form{
    border: 1px solid black;
    padding: 3% 0% 15% 0%;
}
.hint{
    color: red;
    font-size: 0.7em;
}