.items{
    display: block;
}
.img{
    width: 100%;
    height: 35%;
}
.img_div{
    width: 80%;
    height: 10%;
}
.productname{
    margin: 1% 2% 2% 2%;
    width: 100%;
}

.header1{
    height: 3%;
    display: flex;
    background-color:cadetblue;
    margin: 1% 0% 2% 0%;
    width: 100%;
}
.header2{
    height: 3%;
    display: flex;
    background-color:darkgray;
    margin: 0% 0% 2% 0%;
    width: 100%;
}
.header3{
    height: 3%;
    background-color:thistle;
    margin: 0% 0% 2% 0%;
    width: 100%;
    display: flex;
}
.header4{
    height: 3%;
    background-color:burlywood;
    margin: 0% 0% 2% 0%;
    width: 100%;
    display: flex;
}
.header5{
    height: 3%;
    background-color:khaki;
    margin: 0% 0% 2% 0%;
    width: 100%;
    display: flex;
}
.see{
    float: left;
    margin: 1% 1% 1% 30%;
}
.title{
    width: 60%;
}
.link{
    text-decoration: none;
    color: black;

}
.link :hover{

}
