.searchField{
    width: 50%;
    margin: 0% 13% 0% 12%;
}
.btn{
    width: 20%;
}
.cart{
    background-color: gray;
    width: 45%;
    border-radius: 50%;
}
.item{
    display: flex;
}
.icon{
    margin: 1% 3% 1% 1%;
}

.link{
    text-decoration: none;
    color: black;
}


@media (max-width:600px) {
    .link{display: none;}
    .navcontainer{
        display: flex;
    }
}


@media (min-width:601px) {
    .span{display: none;}
    
}