
.dummie{
    margin: 10%;
}


.hint{
    font-size: 0.7em;
}
.edit{
    margin: 1% 2% 3% 70%;
    color: black;
    text-decoration: none;
}

.detailHeader{
    display: flex;
    width: 80%;
    margin: 1% 2% 5% 2%;
}