.body{
    margin: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(128,128,128, 0.1);
} 
.SideBar{
    background-color: white;
    border-radius: 5%;
    margin: 3% 1% 1% 1%;
    height: 80%;
}
.content{
    background-color: white;
    margin: 3% 1% 5% 1% ;
}
.userInfo, .addressInfo, .acctInfo, .walletInfo {
    margin: 2% 2% 2% 2%;
    border: 1px solid gray;
}
.addressTitle, .profileTitle, .acctTitle, .walletTitle{
    border-bottom: 1px solid gray;
    padding: 1%;
    margin: 2% -3% 2% -3%;
}
.icony{
    margin: 1% 1% 1% 50%;
    color: coral;
}
.icon{
    margin: 1% 1% 1% 35%;
    color: coral;
}
.walletTxt{
    color: blue;
}
.address p, .profile p{
    margin: 0%;
}
.dummie{
    margin: 10%;
}