
.container{
    width:100%;
    height: 100%;
}

.body{
    width: 100%;
    height: 100%;
    background-color: rgba(128,128,128, 0.1);
} 

@media (min-width:800px) {
       
    .category{
        padding: 3%;
    }
    .footer{
        bottom: 0;
        width: 100%;
        margin: 0%;
    }    
    .productDiv{
        width: 100%;
        margin: 1% 0% 15% 10%;
        height: 80%;
        background-color: white;
    }
    .imgDiv{
        width: 45%;
    }
    .prodImg{
        margin: 6%  2% 5% 3%;
        width: 100%;
        height: 80%;
    }
    .brand{
        font-size: 1em;
        color: grey;
        margin: 2% 1% 2% 1%;
    }
    .divider{
        border: 1px solid black;
        width: 100%;
    }
    .price{
        margin: 2% 1% 2% 1% ;
    }
    .name{
        font-size: 2.2em;
        margin: 1%;
    }
    .detail{
        width: 40%;
        margin: 5% 1% 1% 7%;
    }
    .select{
        width: 50%;
        margin: 5% 1% 1% 3%;
        padding: 0% 2% 0% 2%;
    }
    .decrease{
        border: 1px solid black;
        padding: 3%;
        
    }
    .text{
        border: 1px solid black; 
        padding: 3% 7% 3% 7%;
    }
    .hint{
        color: red;
        margin: 0% 1% 5% 4%;
        font-size: 0.8em;
    }
    .btn{
        width: 100%;
        margin: 3% ;
    }
    .collect{
        display: flex;
        margin: 2%;
    }
    .collectIcon{
        margin: 1%;
    }
    .collect p{
        margin: 1%;
    }
    .keySpecs{
        border: 1px solid gray;
        margin: 2%;
        width: 40%;
        height: inherit;
    }
    .keySpecsTitle{
        font-size: 1em;
        padding: 1%;
        border-bottom: 1px solid gray;
    }
    .keySpecsDiv{
        margin: 2%;
    }
    .specName{
        font-weight: bold;
    }
    
    .description p{
        margin: 1% ;

    }
    .spectxt{
        margin: 1%;
    }
    .otherProductsdiv{
        width:100%;
        margin: 1%;
    }
    .otherProductsImg{
        width: 100%;
        height: 35%;

    }
}

@media (max-width:799px) {
    
    .body{
        margin: 40% 1% 1% 5%;
    }
    img{
        width: 80%;
        border-radius: 3%;
    }
    .footer{
        bottom: 0;
        width: 100%;
    }    
}

