.name{
    text-align: center;
    margin: 15% 5% 5% 10%;
    
}
.del{
    color: red;
}
.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    color: gray;
    height: 20%;
}
@media (min-width: 500px) {

    .profileHeader, .securityHeader{
        padding: 1%;
        display: flex;

    }
    .profileHeader, .securityHeader p{
        font-size: 1.5em;
        margin: 1%;
    }
    .icon{
        margin: 1%;
           
    }
    .hr {
        margin: -1% -3% 3% -2%;
    }
    .profileDiv,  .securityDiv{
        margin: 2% 1% 1% 1%;
        border: 1px solid black;
        height: 25vh;
       
    }
    .txt{
        height: 20%;
    }
    .dropdown{
        width: 100%;
    }
}   
@media (max-width:500px) {
    .profileDiv,  .securityDiv{
        margin: 2% 10% 1% 10%;
        border: 1px solid black;
        width: 80%;
    }   
    .profileHeader, .securityHeader{
        width: 100%;
        padding: 5%;
        height: 30%;
    }
}