.body{
    background-color: rgba(128,128,128, 0.1);
    width: 100%;
    height: inherit;
}

.container{
    margin-top: 3%;
}

@media (max-width:600px) {
    .address, .payment{
        margin: 2% 1% 5% 1%;
        background-color: white;
        width: 100%;
    }
    .title{
        display: flex;
    }
    .editLink{
        text-decoration: none;
    }
    .imgDiv{
        width: 13%;
        margin: 1% 2% 1% 1%;
    }
    .h5{
        width: 50%;
        font-size: 0.9em;
        margin :3%  15% 1% 1%;
    }
    .title p, .title h5{
        margin-top: 1%;
    
    } .name, .addressInfo{
        margin: 2%;
    }
    .station{display: flex;}
    .station p{
        width: 50%;
        margin: 1% 15% 0% 1%;
    }
    .Stationlink{
        text-decoration: none;
    }
    
    .deliveyInfo, .shippment{
        padding: 1%;
        border: 1px solid black;
    }
    .deliveryextra{
        margin: 2%;
    }
     
     .ship{
        margin: 1% 1% 0.5% 1%;
     }
     
     .img{
        width:250px;
        height: 150px;
     }
     .row{
        display: flex;
        width: 95%;
        margin: 2%;
     }
    .item_names{
        margin: 4% 0% 1% 3%;
    }
    
    .cart{
        text-align: center;
        text-decoration: none;
    }
    .cart p{
        margin: 3% ;
    
    }
    .deliveryDate{
        font-size: 0.7em;
        margin: -1% 1% 2% 0%;
    }
    
    .summary{
        background-color: white;
        width: 90%;
        margin: 3%;
        height: 40%;
    }
    
    .price{
        display: flex;
    }
    
    .total{
        width: 60%;
        margin-right: 10%;
    }
}

@media (min-width:600px) {
    .address, .payment{
        margin: 2% 2% 5% 2%;
        background-color: white;
        width: 100%;
    }
    .title{
        display: flex;
    }
    .editLink{
        text-decoration: none;
    }
    .pickup{
        margin: 0% 35% 0% 1%  !important;
        width: 100% !important;
    }
    .h5{
        width: 70%;
        margin-right:15%;
    }
    .title p, .title h5{
        margin-top: 1%;
    
    } .name, .addressInfo{
        margin: 2%;
    }
    .station{display: flex;}
    .station p{
        width: 90%;
        margin-right: 17%;
    }
    .Stationlink{
        text-decoration: none;
    }
    
    .deliveyInfo, .shippment{
        padding: 1%;
        border: 1px solid black;
    }
    .deliveryextra{
        margin: 2%;
    }
     
     .ship{
        margin: 1% 1% 0.5% 1%;
     }
     
     .img{
        width:100px;
        height: 100px;
     }
     .row{
        display: flex;
        width: 100%;
     }
    .item_names{
        margin: 4% 0% 1% 0%;
    }
    
    .cart{
        text-align: center;
        text-decoration: none;
    }
    .cart p{
        margin: 3% ;
    
    }
    .deliveryDate{
        font-size: 0.7em;
        margin: -1% 1% 2% 0%;
    }
    
    .summary{
        background-color: white;
        width: 30%;
        margin: 3%;
        height: 40%;
    }
    
    .price{
        display: flex;
    }
    
    .total{
        width: 60%;
        margin-right: 10%;
    }
}