.sidebar ul{
    padding:  0px !important;
}

li{
    font-size: 1em;
}
.sidebar ul li a:hover{
    background-color: blue;
}
.container{
    margin: 10% 5% 5% 0%;
    height: 70vh;
}
.divider{
    border: 1% solid black;
}


.row{
    margin: 12% 2% 5% 2%;
}
.header{
    margin: 15% 2% 2% 5%;
}
.icon{
    margin: 0% 15% 1% 2% ;
}
.navTxt:hover, .txt p:hover{
    height: 15%;
    padding: 3% 1% 4% 1%;
    background-color: #D3D3D3;
}

.link{
    text-decoration: none;
    color: black;
}

.subMenu{
    border: 1px solid black;
    margin: 1% 0% 5% 0%;
    width: 100%;
    padding:  2% 0% 5% 0%;
}
.name{
    text-align: center;
}