.body{
    width: 100%;
    background-color: #f2f2f2;
    height: 100vh;
    position: absolute;
}
h3{
    text-align: center;
    margin: 5%;
}
.form{
    width: 30%;
    margin: 10% 10% 20% 40% ;
    background-color: #fff;
    height: 60%;
}
.content{
    margin-top: 40% ;
}
.fields{
    margin: 10% 5% 5% 5%;
    width: 90%;
}
.signup{
    text-align: right;
    margin: 5% 15% 2% 3%; 
}
.forget{
    text-align: right;
    margin: 10% 7% 2% 3%; 
}

button{
    width:100%;
    margin-top: 5%;
}

.google{
    border: 1px solid black;
    margin: 5% 0% 3% 0%;
}

.option{
    display:flex;
}

.hr{
    width: 50%;
    margin: 4% 2% 0% 2%;
}
.or{
    border-radius: 50%;
    border: 1px solid black;
    padding: 1%;
}