.nav{
    margin-bottom: 6%;
}
.slide{
    width: 100%;
    margin: 3% 0% 5% 0%; 
}.list{
    margin: 5% 0% 2% 0%; 
}
.sub_slider{
    width: 100%;
    height: 60%;
    margin: 2%;
}
.sub_slider_img {
    width: 100%;
    margin:  3%;
    height: 100%;
}

.sub_slider_img img{
    width: 120px;
    height: 150px;
    margin:  2%;
}

.container{
    margin: 5%;
}